.row{

	margin-top: 200px;
	margin-left: 10%;
	margin-bottom: 10%;
	margin-right: 20px;
}

.col-md-3 #corolla{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/corolla.jpg);
	background-repeat: no-repeat; 
	background-size: 100% 100%;

}

.col-md-3 #civic{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/civic.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #vezel{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/vezel.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #allion{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/allion.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #ist{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/ist.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #carina{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/carina.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #lancerex{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/lancerex.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #premio{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/premio.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 #vitz{
	padding-right: 10px;
	background-color: grey;
	border: 5px solid blue;
	margin-left: 5%;
	background-image: url(image/vitz.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}

.col-md-3 p {
	opacity: 0;
	transition: .4s all;
}

.col-md-3 p:hover{
	opacity: 1;
	padding-left: 10%;
	background-color: #bedfe4;
	border: 5px green;
	border-radius: 50px 50px;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	transition: .4s all;
}

